<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.project.scraperservice.mapper.ScraperErrorMessageMapper">
    <resultMap id="BaseResultMap" type="com.personal.project.scraperservice.model.entity.ScraperErrorMessageDO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="date" column="date" jdbcType="BIGINT"/>
        <result property="scraperName" column="scraper_name" jdbcType="VARCHAR"/>
        <result property="errorMessage" column="error_message" jdbcType="VARCHAR"/>
        <result property="exception" column="exception" jdbcType="VARCHAR"/>
        <result property="exceptionMessage" column="exception_message" jdbcType="VARCHAR"/>
        <result property="extra" column="extra" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT" typeHandler="com.personal.project.scraperservice.typehandler.StatusEnumTypeHandler"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,scraper_name,date,error_message,exception,exception_message,
        extra,status
    </sql>
</mapper>