<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.project.stockservice.mapper.DailyStockMetricsMapper">
    <resultMap id="BaseResultMap" type="com.personal.project.stockservice.model.entity.DailyStockMetricsDO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="stockId" column="stock_id" jdbcType="VARCHAR"/>
        <result property="stockName" column="stock_name" jdbcType="VARCHAR"/>
        <result property="todayClosingPrice" column="today_closing_price" jdbcType="DECIMAL"/>
        <result property="date" column="date" jdbcType="BIGINT"/>
        <result property="ma5" column="ma_5" jdbcType="DECIMAL"/>
        <result property="lastMA5price" column="last_ma_5_price" jdbcType="DECIMAL"/>
        <result property="ma10" column="ma_10" jdbcType="DECIMAL"/>
        <result property="lastMA10price" column="last_ma_10_price" jdbcType="DECIMAL"/>
        <result property="ma20" column="ma_20" jdbcType="DECIMAL"/>
        <result property="lastMA20price" column="last_ma_20_price" jdbcType="DECIMAL"/>
        <result property="ma60" column="ma_60" jdbcType="DECIMAL"/>
        <result property="lastMA60price" column="last_ma_60_price" jdbcType="DECIMAL"/>
        <result property="ma120" column="ma_120" jdbcType="DECIMAL"/>
        <result property="lastMA120price" column="last_ma_120_price" jdbcType="DECIMAL"/>
        <result property="ma240" column="ma240" jdbcType="DECIMAL"/>
        <result property="lastMA240price" column="last_ma_240_price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stock_id,stock_name,today_closing_price,date,ma_5,last_ma_5_price,ma_10,
        last_ma_10_price,ma_20,last_ma_20_price,ma_60,last_ma_60_price,ma_120,
        last_ma_120_price,ma_240,last_ma_240_price
    </sql>

    <select id="query4CalMetrics" parameterType="com.personal.project.stockservice.model.dto.Query4CalDTO" resultType="com.personal.project.stockservice.model.dto.DailyStockMetricsDTO">
        select
            t.id as id,
            t.stock_id as stockId,
            t.date as date,
            t.stock_name as stockName,
            t.today_closing_price as todayClosingPrice,
            t.ma_5 as ma5,
            t.last_ma_5_price as lastMA5Price,
            t.ma_10 as ma10,
            t.last_ma_10_price as lastMA10Price,
            t.ma_20 as ma20,
            t.last_ma_20_price as lastMA20Price,
            t.ma_60 as ma60,
            t.last_ma_60_price as lastMA60Price,
            t.ma_120 as ma120,
            t.last_ma_120_price as lastMA120Price,
            t.ma_240 as ma240,
            t.last_ma_240_price as lastMA240Price
        from
            daily_stock_metrics t
        where
            t.date = #{date}
        union
        select
            t1.id as id,
            t1.stock_id as stockId,
            t1.date as date,
            t1.stock_name as stockName,
            t1.today_closing_price as todayClosingPrice,
            t1.ma_5 as ma5,
            t1.last_ma_5_price as lastMA5Price,
            t1.ma_10 as ma10,
            t1.last_ma_10_price as lastMA10Price,
            t1.ma_20 as ma20,
            t1.last_ma_20_price as lastMA20Price,
            t1.ma_60 as ma60,
            t1.last_ma_60_price as lastMA60Price,
            t1.ma_120 as ma120,
            t1.last_ma_120_price as lastMA120Price,
            t1.ma_240 as ma240,
            t1.last_ma_240_price as lastMA240Price
        from(
                select
                    T.*,
                    row_number() over (partition by stock_id order by date desc) as sequence
                from (
                        select *
                        from daily_stock_metrics s
                        where s.date &lt; #{date} and s.today_closing_price is not null
                     ) T
            ) t1
        where t1.sequence = 1
    </select>

    <select id="query4CalDetail" parameterType="com.personal.project.stockservice.model.dto.Query4CalDTO" resultType="com.personal.project.stockservice.model.dto.DailyStockMetricsDTO">
        select
            t.stock_id as stockId,
            t.date as date,
            t.stock_name as stockName,
            t.today_closing_price as todayClosingPrice,
            t.ma_5 as ma5,
            t.last_ma_5_price as lastMA5Price,
            t.ma_10 as ma10,
            t.last_ma_10_price as lastMA10Price,
            t.ma_20 as ma20,
            t.last_ma_20_price as lastMA20Price,
            t.ma_60 as ma60,
            t.last_ma_60_price as lastMA60Price,
            t.ma_120 as ma120,
            t.last_ma_120_price as lastMA120Price,
            t.ma_240 as ma240,
            t.last_ma_240_price as lastMA240Price
        from
            daily_stock_metrics t
        where
            date = #{date}
        union
        select
            T.stock_id as stockId,
            T.date as date,
            T.stock_name as stockName,
            T.today_closing_price as todayClosingPrice,
            T.ma_5 as ma5,
            T.last_ma_5_price as lastMA5Price,
            T.ma_10 as ma10,
            T.last_ma_10_price as lastMA10Price,
            T.ma_20 as ma20,
            T.last_ma_20_price as lastMA20Price,
            T.ma_60 as ma60,
            T.last_ma_60_price as lastMA60Price,
            T.ma_120 as ma120,
            T.last_ma_120_price as lastMA120Price,
            T.ma_240 as ma240,
            T.last_ma_240_price as lastMA240Price
        from (
                select
                    tt.*,
                    row_number() over (partition by stock_id order by date desc) as sequence
                from
                    (
                        select s.*
                        from daily_stock_metrics s
                        where s.date &lt; #{date} and today_closing_price is not null
                    ) tt
             ) T
        where T.sequence = 1
    </select>

    <select id="query4ManualCalDetail" parameterType="com.personal.project.stockservice.model.dto.ManualCalDTO" resultType="com.personal.project.stockservice.model.dto.DailyStockMetricsDTO">
        select
            T.stock_id as stockId,
            T.date as date,
            T.stock_name as stockName,
            T.today_closing_price as todayClosingPrice,
            T.ma_5 as ma5,
            T.last_ma_5_price as lastMA5Price,
            T.ma_10 as ma10,
            T.last_ma_10_price as lastMA10Price,
            T.ma_20 as ma20,
            T.last_ma_20_price as lastMA20Price,
            T.ma_60 as ma60,
            T.last_ma_60_price as lastMA60Price,
            T.ma_120 as ma120,
            T.last_ma_120_price as lastMA120Price,
            T.ma_240 as ma240,
            T.last_ma_240_price as lastMA240Price,
            T.sequence
        from (
            select
            tt.*, row_number() over (partition by stock_id order by date desc) as sequence
            from
            (
            select *
            from daily_stock_metric
            where 'date' = #{date} or today_closing_price is not null
            ) tt
            ) T
        where T.sequence in (1, 2)
    </select>

    <select id="query4CalInitTodayMetrics"
            resultType="com.personal.project.stockservice.model.dto.DailyStockMetricsDTO">
        select
            T.stock_id as stockId,
            T.date as date,
            T.today_closing_price as todayClosingPrice,
            T.stock_name as stockName,
            T.ma_5 as ma5,
            T.last_ma_5_price as lastMA5Price,
            T.ma_10 as ma10,
            T.last_ma_10_price as lastMA10Price,
            T.ma_20 as ma20,
            T.last_ma_20_price as lastMA20Price,
            T.ma_60 as ma60,
            T.last_ma_60_price as lastMA60Price,
            T.ma_120 as ma120,
            T.last_ma_120_price as lastMA120Price,
            T.ma_240 as ma240,
            T.last_ma_240_price as lastMA240Price
        from (
                select
                    tt.*,
                    row_number() over (partition by stock_id order by date desc) as 'sequence'
                from
                    (
                        select *
                        from daily_stock_metrics
                        where today_closing_price is not null
                    ) tt
            ) T
        where T.sequence = 1;
    </select>

    <select id="query4CalInitTodayDetail" resultType="com.personal.project.stockservice.model.dto.DailyStockMetricsDTO">
        select
            T.stock_id as stockId,
            T.date as date,
            T.stock_name as stockName,
            T.ma_5 as ma5,
            T.last_ma_5_price as lastMA5Price,
            T.ma_10 as ma10,
            T.last_ma_10_price as lastMA10Price,
            T.ma_20 as ma20,
            T.last_ma_20_price as lastMA20Price,
            T.ma_60 as ma60,
            T.last_ma_60_price as lastMA60Price,
            T.ma_120 as ma120,
            T.last_ma_120_price as lastMA120Price,
            T.ma_240 as ma240,
            T.last_ma_240_price as lastMA240Price
        from (
                select
                    tt.*,
                    row_number() over (partition by stock_id order by date desc) as sequence
                from(
                    select *
                    from daily_stock_metrics
                    where today_closing_price is not null
                    ) tt
                ) T
        where T.sequence in (1, 2);
    </select>
</mapper>